@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

&::-webkit-scrollbar {
  width: 2px;
}

&::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: var(--color-slate-900);
}

.dark::-webkit-scrollbar-thumb {
  background: var(--color-slate-100);
}


@layer utilities {
  .dark .scrollNavbar {
    @apply bg-slate-100/5 backdrop-blur-sm shadow-md shadow-slate-100/5;
  }

  .scrollNavbar {
    @apply bg-slate-100/5 backdrop-blur-sm shadow-md shadow-black/5;
  }
}
