@import "tailwindcss";
html {
    scroll-behavior: smooth;
}

&::-webkit-scrollbar{
    width: 2px;
}

&::-webkit-scrollbar-thumb{
    background: var(--color-slate-800);
    border-radius: 10px;
}

&::-webkit-scrollbar-track{
    background: var(--color-red-300);

}

@layer utilities{   
    .scrollNavbar{
        @apply bg-white/5 backdrop-blur-sm shadow-sm
    }
}